<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Posts</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- Link para alterar para o tema escuro ou claro com ícone -->
      <li class="nav-item">
        <a class="nav-link" href="#" id="toggle-theme">
          <i class="fas fa-moon" id="theme-icon"></i> <!-- Ícone da lua (inicialmente) -->
        </a>
      </li>
    </ul>
  </div>
</nav>
